@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

body {
    font-family: Lato, sans-serif;
}

.hidden {
    display: none;
}

.header {
    background-color: #222222;
    height: 74px;
    padding: 18px 16px;
    box-sizing: border-box;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__left__loupe-icon {
    margin-left: 41px;
    background: none;
    border: none;
}

.header__right__user-icon,
.header__right__cart-icon,
.header__right__cart-wrapper {
    display: none;
}

.header__right-bars {
    background: none;
    border: none;
}

.header__right__user-icon {
    margin-left: 25px;
    margin-right: 42px;
}

.brand {
    min-height: 363px;
}

.brand__title-right {
    background: #F1E4E6;
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
}

.brand__img {
    display: none;
}

.brand__title {
    font-weight: 900;
    font-size: 38px;
    line-height: 46px;
    color: #222222;
    text-transform: uppercase;
    position: relative;
}

.brand__title::before {
    outline: none;
    background-color: #F16D7F;
    content: '';
    width: 12px;
    height: 61px;
    position: absolute;
    top: 8px;
    left: -20px;
}

.brand__subtitle {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}

.brand__subtitle-pink {
    color: #F16D7F;
}

.brand-inside {
    margin: 0;
    min-height: inherit;
}

.brand__dark {
    position: absolute;
    top: 0;
    left: 0;
}

.menu {
    display: none;
}

.sales__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 247px);
    padding: 64px 16px 32px 16px;

}

.sales__item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sales__item-woman {
    background-image: url(../Online-shop/img/forwomen.jpg);
    margin-bottom: 32px;
    background-size: cover;
}

.sales__item-man {
    background-image: url(../Online-shop/img/formen.jpg);
    margin-bottom: 32px;
    background-size: cover;
}

.sales__item-kid {
    background-image: url(../Online-shop/img/forkids.jpg);
    margin-bottom: 32px;
    background-size: cover;
}

.sales__item-accessories {
    background-image: url(../Online-shop/img/accessories.jpg);
    background-size: cover;
}

.sales__item:last-child {
    min-height: 111px;
}

.sales__item-url {
    text-decoration: none;
}

.sales__item-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.sales__item-title {
    color: #F16D7F;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
}

@media (min-width: 640px) {
    .header {
        padding: 18px 32px;
    }

    .header__right__user-icon,
    .header__right__cart-icon,
    .header__right__cart-wrapper {
        display: inline;
    }


    .header__right__cart-wrapper {
        position: relative;
    }

    .header__right__cart-wrapper span {
        display: inline-block;
        width: 19px;
        height: 19px;
        color: white;
        background: #f16d7f;
        border-radius: 50%;
        position: absolute;
        text-align: center;
        right: -8px;
        top: -19px;
        font-family: Lato, sans-serif;
        font-size: 12px;
        line-height: 20px;
    }


    .brand__img {
        display: block;
        width: 125%;
    }

    .brand-inside>div,
    .brand-inside>img {
        width: 50%;
    }

    .brand-inside {
        display: flex;
    }

    .brand__title {
        font-size: 44px;
        line-height: 53px;
    }

    .brand__subtitle {
        font-size: 24px;
        line-height: 29px;
    }

    .brand__title::before {
        height: 92px;
        top: -6px;
        left: -20px;
    }

    .sales__list {
        padding: 20px 16px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 168px 116px;
        gap: 20px;
    }

    .sales__item-woman,
    .sales__item-man,
    .sales__item-kid {
        margin-bottom: 0;
    }

    .sales__item-accessories {
        grid-column: 1/4;
    }
}

@media (min-width: 1440px) {
    .container {
        width: 1140px;
        margin: auto;
    }

    .brand {
        position: relative;
    }

    .brand-inside {
        display: flex;
        justify-content: center;
        position: relative;
    }

    .brand__dark {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
    }

    .brand__title-right {
        justify-content: flex-start;
    }

    .brand__title {
        font-size: 48px;
        line-height: 58px;
    }

    .brand__subtitle {
        font-size: 32px;
        line-height: 38px;
    }

    .brand__title {
        justify-content: flex-start;
        margin-left: 64px;
    }

    .brand__title::before {
        height: 92px;
        top: 2px;
        left: -20px;
    }

    .sales__list {
        padding: 20px 16px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 260px 180px;
        gap: 30px;
    }

    .sales__item-woman,
    .sales__item-man,
    .sales__item-kid {
        margin-bottom: 0;
    }

    .sales__item-accessories {
        grid-column: 1/4;
    }
}